.similar-button {
    border-radius: 10px;
    text-align: center;
    width: 80%;
    border-bottom: 1px #ccc solid;
    padding: .5rem 1rem;
    padding-top: 1rem;
    margin-top: 1rem;
    background-color: #D3D3D3;
}

.action-button {
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 80%;
    border-bottom: 1px #ccc solid;
    padding: .5rem 1rem;
    padding-top: 1rem;
    margin: 1rem auto;
    margin-top: 1rem;
    background-color: #5480e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-button:hover {
    background-color: #275fe1;
}

.form-select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.ticket-history-table {
    width: 100%;
    border-collapse: collapse;
}

.ticket-history-header {
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.ticket-history-state {
    color: #870a30;
}

.ticket-history-expert {
    color: #8A8AFF;
}


.ticket-history-row:nth-child(even) {
    background-color: #f1f1f1;
}

.ticket-history-cell {
    padding: 10px;
}

.ticket-history-cell:first-child {
    width: 200px;
}

.ticket-history-cell:last-child {
    width: 150px;
}



