.ticket-container {
    position: relative;
    display: flex;
}

.left-container {
    position: fixed;
    top: 50px;
    left: 0;
    width: 25%;
    height: 97%;
    background-color: #f2f2f2;
    padding: 20px;
    z-index: 1;
    overflow-y: auto;
}

.right-container {
    flex: 1;
    margin-left: 25%;
    padding: 20px;
    min-height: 98vh;
    background-color: aliceblue;
}
